$color-logo-light: #fd99b8;
$color-logo-dark: #f15b8a;
$color-background-dt: #202124;
$color-font-dt-main: #e8eaed;
$color-font-dt-subs: #dfdfdF;
$color-bar-selected: #07cff6;
$color-bar-selected-pivot: red;
$size-button-to-top: 2rem; 