@import '../../colors/colors';
body{
    background-color: #0d2534;
    color: white;
    div.main{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div.elementsContainer{
            width: 80%;
            margin-left: 5%;
            margin-right: 5%;
            height: 60vh;
            border: 2px solid #0d2534;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            overflow: hidden;
            
            .swapper{
                margin-left: 0.05em;
                margin-right: 0.05em;
            }

        }
        
        div.flex_container{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            margin: 1em;

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 1em;
            }
        }
    }
}

div.default{
    background-color: $color-background-dt;
}

div.selected{
    background-color: $color-bar-selected;
}

div.selected-pivot{
    background-color: $color-bar-selected-pivot;
}

p.less{
        color: greenyellow;
        text-shadow: 1px 1px 0px #052000;
        text-align: center;
}

p.more{
        display: none;
}